@model PagedList.IPagedList<ModelEF.Model.UserAccount>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lí người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách người dùng.
}
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{<div class="row">
        <div class="col-lg-12">          
            <div class="col-md-5">
                <a href="/Admin/User/Create" >Thêm mới</a>
            </div>

        </div>

    </div>}
<div class="row">
    <div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách người dùng.
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    @*       @using (Html.BeginForm("Index", "User", FormMethod.Get))
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-md-4">
                                        <input type="text" name="searchString" />
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit"> Tìm kiếm</button>
                                    </div>

                                </div>

                            </div>

                        }*@

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tài khoản</th>
                                    <th>Mật khẩu</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">
                                        <td>
                                            <a href="/Admin/User/Edit/@item.ID">sửa</a>
                                            |
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này?",
                                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                        <td>@item.UserName</td>
                                        <td>@item.PassWord</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>